.mainContent {
    display: flex;
    flex: 1;
    justify-content: center;
}


.pageContent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contentContainer {
    max-width: 1440px;
}